<h3>Agregar</h3>
<hr>
<form (ngSubmit)="agregar()">
  <div class="mb-3">
    <input type="text" name="nombre" [(ngModel)]="nuevo_personaje.nombre" placeholder="Nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <input type="text" name="poder" [(ngModel)]="nuevo_personaje.poder" placeholder="Poder" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary" (click)="agregar()">Agregar</button>
</form>
