<div class="container-fluid">
  <h1>Dragon Ball Z</h1>

  <main class="main-container container-fluid d-flex flex-wrap">
    <div class="personajes-container flex-fill">
      <app-personajes-lista></app-personajes-lista>
    </div>

    <div class="form-container flex-fill">
      <app-agregar-personaje
        [nuevo_personaje]="nuevo">
      </app-agregar-personaje>
    </div>
  </main>
</div>
